/* styles/shared-styles.css */

/* סגנון כללי לאתר */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-link {
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #007bff;
}

.header-section {
    background-color: #f8f9fa;
    text-align: center;
    padding: 5rem 2rem;
}

.main-title {
    color: #333;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.info-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s ease;
    width: 30%;
}

.info-box:hover {
    transform: translateY(-5px);
}

.info-box-title {
    color: #007bff;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.info-box-content {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
}
